body {
    margin: 0;
    padding: 0;
    min-width: 1240px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.visually-hidden{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}

.page-header {
    height: 55px;
}

.page-header-wrapper {
    display: flex;
    justify-content: space-between;
    display: relative;
    flex-wrap: wrap;
    background-color: #ffffff;
}

.header-logo {
    position: relative;
    width: 138px;
    order: 2;
}
.header-logo img{
    position: absolute;
    width: 138px;
    height: 70px;
}

.main-nav-right {
    padding-left: 50px;
    margin-right: auto;
    order: 1;
}

.main-nav-left {
    padding-right: 50px;
    margin-left: auto;
    order: 3;
}

.main-nav-right-list,
.main-nav-left-list  {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-nav-right-link, 
.main-nav-left-link {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 700;
    color: #000000;
    line-height: 26px; 
}

.main-nav-right-link:hover, 
.main-nav-left-link:hover {
    color: #81b3d2;
}

.main-nav-right-link:active, 
.main-nav-left-link:active {
    color: #cacaca;
}

.main-nav-right-item,
.main-nav-left-item {
    width: 240px;
}

.main-nav-left-item {
    text-align: right;
}

.main-nav-left-link-current {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #766357;
    line-height: 26px;
    font-weight: 700;
}
 
.main-nav-left-link-current:hover, 
.main-nav-left-link-current:active {
    color: #766357;
}

.filter {
    box-sizing: border-box;
    min-height: 220px;
    padding-top: 30px;
    background-image: url("../img/background-two.png");
    background-position: no-repeat;
    background-size: cover;
}

.filter-wrapper {
    display: flex;
    padding-left: 60px;
    padding-right: 70px;
    padding-bottom: 30px;
}

.filter-column-left,
.filter-column-right {
    width: 250px;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    border: none;
}

.filter-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter legend,
.filter-cost label,
.filter-option label {
    font-size: 16px;
    color: #ffffff;
}

.filter-option {
    padding-bottom: 30px;
}

.filter-option:last-child {
    padding-bottom: 0;
}

.filter-column-left legend,
.filter-column-right legend {
    margin-bottom: 25px;
}

.filter-cost-wrapper {
    width: 340px;
    dispaly: flex;
    flex-direction: column;
    margin-left: auto;
}

.filter-cost-min,
.filter-cost-max {
    width: 155px;
    height: 32;
    margin: -2px;
    color: #ffffff;
    border: 2px solid #ffffff;
    text-align: center;
}
.filter-cost-min {
    padding-top: 11px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    border-right: none;
}

.filter-cost-max {
    padding-top: 11px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    border-left: none;
}
 
.btn {
    font: inherit;
    border: none;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #000000;
}

.btn-filter {
    width: 133px;
    padding: 8px 30px;
    border: 2px solid #ffffff;
    background: none;
}

.btn-filter:hover {
    background-color: #ffffff;
    color: #000000;
}

.result-description {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.result-sort {
    font-size: 12px;
    line-height: 18px;
}

.sort-list {
    list-style: none;
}
.sort-link {
    font-size: 12px;
    line-height: 18px; 
    color: rgba(0, 0, 0, 0.3); 
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
}
.sort-link:hover {
    color: #81b3d2;
}

.sort-link:active {
    color: #000000;
    border-bottom: none;
}

.sort-link-current {
    color: #81b3d2;
    border-bottom: none;
}

.catalog-list {
    list-style: none;
}

.cards-title {
    font-size: 21px;
    line-height: 26px;
    color: #000000;
}

.cards-title:hover {
    color: #81b3d2;
}

.cards-title:active {
    color: rgba(0, 0, 0, 0.3);
}

.btn-info {
    width: 110px;
    padding: 5px 15px;
    background-color: #81b3d2;
}

.btn-info:hover {
    background-color: #669ec0;
}

.btn-info:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.btn-reservation {
    width: 118px;
    padding: 5px 15px;
    background-color: #766357;
}

.btn-reservation:hover {
    background-color: #604e43;
}

.btn-reservation:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.card-rating {
    width: 110px;
    padding: 5px 15px;
    color: #666666;
    background-color: #f2f2f2;
}

.page-footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 100px;
    padding-left: 100px;
    background-color: #ffffff;
}

.footer-logo {
    width: 136px;
    height: 16px;
    align-self: center;
}

.social-list {
    padding: 0;
    margin: 0;
    list-style: none;
    align-self: center;
}

.footer-copyright-wrapper {
    width: 200px;
    display: flex;
    justify-content: space-between;

}

.footer-copyright {
    margin: 0;
    padding: 0;
    align-self: center;

}

.btn-copyright {
    align-self: center;
}

.btn-copyright img {
    width: 115px;
    height: 41px;   
}








