
body {
    margin: 0;
    padding: 0;
    
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    text-transform: uppercase;
    background-color: #ffffff;
}

a {
    text-decoration: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 0px;
}

.visually-hidden{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}

.btn {
    font: inherit;
    border: none;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #000000;
}

.page-header {
    height: 55px;
    background-color: #ffffff;
}
.page-header-wrapper {
    display: flex;
    justify-content: space-between;
    
}

.header-logo {
    width: 138px;
    height: 70px;
    order: 2;

}

.main-nav-right {
    padding-left: 50px;
    order: 1;
}

.main-nav-left {
    padding-right: 50px;
    order: 3;
}

.main-nav-right-list,
.main-nav-left-list  {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-nav-right-link, 
.main-nav-left-link {
    font-weight: 700;
    color: #000000;
    line-height: 26px; 
}

.main-nav-right-link:hover, 
.main-nav-left-link:hover {
    color: #81b3d2;
}

.main-nav-right-link:active, 
.main-nav-left-link:active {
    color: #cacaca;
}

.main-nav-right-item,
.main-nav-left-item {
    width: 240px;
}

.main-nav-right-item {
    text-align: left;
}

.main-nav-left-item {
    text-align: right;
}

.promo {
    min-height: 695px;
    padding-top: 75px;
    background-image: url("../img/mask-1.png"),
                      url("../img/mask-2.png"),
                      url("../img/mountains.jpg");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size:  contain, contain, cover; 
    background-position: 0 441px, 0 497px, 0 -60px;
}

.promo-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-welcome {
    margin-bottom: 10px;
    width: 188px;
    height: 45px;
}

.img-gorgeous {
    margin-bottom: 50px;
    width: 176px;
    height: 30px;
}

.img-sedona {
    margin-bottom: 55px;
    width: 458px;
    height: 78px;
}

.img-because {
    margin-bottom: 20px;
     width: 296px;
    height: 80px;
}

.promo-description {
    width: 640px;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 0;
    padding-top: 65px;

    font-size: 21px;
    font-weight: 700;
    color: #000000;
    line-height: 26px;
    text-align: center;
}

.promo-reason {
    margin: 0 auto;
    line-height: 26px;
    text-align: center;
    margin-bottom: 55px;
}

.feature-list {
    margin: 0;
    padding: 0;
    list-style: none;

}

.hit-column {
    background-color: #81b3d2;
}

.hit-column-city-wrapper {
    display: flex;

}

.feature-title-hit {
    margin: 0;
    padding: 0;
    font-size: 21px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

.feature-description-hit {
    color: #ffffff;
    text-align: center;
}
.feature-sub-list {
    list-style: none;
}
.feature-sub-title,
.feature-title {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
    text-align: center;
}
.feature-sub-description,
.feature-description {
    text-align: center;
}
.search-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    color: #000000;
}

.search-description {
    line-height: 24px;
    text-align: center;
}

.btn-search {
    padding-top: 35px;
    padding-bottom: 33px;
    padding-left: 139px;
    padding-right: 139px;

    
    font-size: 21px;
    font-weight: 700;
    line-height: 26px;
    background-color: #766357;
} 

.btn-search:hover {
    background-color: #604e43;
}

.btn-search:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.modal-form-search {
    background-color: #ffffff;
}

.form-search-item input {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 12px;
    padding-right: 12px;
    font: inherit;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
}

.form-search-item input:hover {
    background-color: #ebebeb;
}

.form-search-item input:focus {
    outline: none;
    border: 2px solid #e5e5e5;
    background-color: #ffffff;
}

.form-search-item label {
    font: inherit;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.adults {
    line-height: 26px;
    font-weight: 700;
    color: #000000; 
}

.children {
    line-height: 26px;
    font-weight: 700;
    color: #000000; 
}

.btn-min {
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 16px;
    padding-left: 16px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: #a9a9a9;
    background-color: #f2f2f2;
}

.btn-max {
    border: none;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 14px;
    padding-left: 14px;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    color: #a9a9a9;
    background-color: #f2f2f2; 
}

.btn-min:hover, 
.btn-max:hover {
    color: #000000;
}

.btn-min:active, 
.btn-max:active {
    color: #81b3d2;
}

.number-container {
    display: block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    font-weight: 700;
    color: #000000;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2; 
}

.btn-form-search {
    padding-top: 17px;
    padding-bottom: 22px;
    padding-left: 195px;
    padding-right: 197px;

    font-size: 21px;
    font-weight: 700; 
    line-height: 26px;
    background-color: #81b3d2;
} 

.btn-form-search:hover {
    background-color: #669ec0;
} 

.btn-form-search:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.social-list {
    list-style: none;
}




