body {
    margin: 0;
    padding: 0;
    min-width: 1240px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    text-transform: uppercase;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 4px 0 8px -9px rgba(0, 0, 0, 0.5),
             -4px 0 8px -9px rgba(0, 0, 0, 0.5);
}

.visually-hidden{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}

.page-header {
    height: 55px;
}

.page-header-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-wrap: wrap;
    background-color: #ffffff;
}

.header-logo {
    position: relative;
    width: 138px;
    order: 2;
}

.header-logo img{
    position: absolute;
    width: 138px;
    height: 70px;
}

.main-nav-right {
    padding-left: 50px;
    margin-right: auto;
    order: 1;
}

.main-nav-left {
    padding-right: 50px;
    margin-left: auto;
    order: 3;
}

.main-nav-right-list,
.main-nav-left-list  {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav-right-link, 
.main-nav-left-link {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 700;
    color: #000000;
    line-height: 26px; 
}

.main-nav-right-link:hover, 
.main-nav-left-link:hover {
    color: #81b3d2;
}

.main-nav-right-link:active, 
.main-nav-left-link:active {
    color: #cacaca;
}

.main-nav-right-item,
.main-nav-left-item {
    width: 240px;
}

.main-nav-left-item {
    text-align: right;
}

.main-nav-left-link-current {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #766357;
    line-height: 26px;
    font-weight: 700;
}
 
.main-nav-left-link-current:hover, 
.main-nav-left-link-current:active {
    color: #766357;
}

.filter {
    box-sizing: border-box;
    min-height: 220px;
    padding-top: 30px;
    background-image: url("../img/background-two.png");
    background-position: no-repeat;
    background-size: cover;
}

.filter-wrapper {
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 30px;
}

.filter-wrapper fieldset {
    border: none;
}

.filter-column-left,
.filter-column-right {
    width: 250px;
    margin: 0;
    padding: 0;
    
}

.filter-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter legend,
.filter-cost label,
.filter-option label,
.filter-range label{
    font-size: 16px;
    color: #ffffff;
}

.filter-option {
    position: relative;
    padding-bottom: 30px;
}

.filter-option:last-child {
    padding-bottom: 0;
}

.filter-option  {
    padding-left: 40px;
}

.filter-option input[type="checkbox"]~label {
    display:inline-flex;
    align-items:center;
    user-select: none;
}

.filter-option input[type="checkbox"]~label::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    border: 2px solid #ffffff;
    border-radius: 3px;
    width: 19px;
    height: 19px;
}

.filter-option input[type="checkbox"]~label::after {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    border: 3px solid transparent;
    width: 19px;
    height: 19px;
    opacity: 0;
}

.filter-option input[type="checkbox"]:disabled~label::before {
    border-color: #6a6a6a;
    opacity: 0.5;
}

.filter-option input[type="checkbox"]:checked~label::before {
    opacity: 0;
}

.filter-option input[type="checkbox"]:checked~label::after {
   opacity: 1;
   background-image: url("../img/checkbox-on.svg");
   background-repeat: no-repeat;
   background-position: -3px -3px;
}

.filter-option input[type="checkbox"]:disabled~label::after{
   opacity: 0.5;
   background-image: url("../img/checkbox-on.svg");
   background-repeat: no-repeat;
   background-position: -3px -3px;
}

.filter-column-left legend,
.filter-column-right legend {
    margin-bottom: 25px;
}

.filter-cost-wrapper {
    width: 340px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.filter-range-title {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 15px;
}

.price-controls {
    position: relative;
    height: 36px;
    margin-bottom: 30px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 113px;
    padding-left: 55px;
}

.price-controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}

.price-controls input:focus {
    outline: none;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;

    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2)
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn {
    font: inherit;
    border: none;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #000000;
}

.btn-filter {
    align-self: center;
    width: 133px;
    padding: 8px 30px;
    border: 2px solid #ffffff;
    background: none;
}

.btn-filter:hover {
    background-color: #ffffff;
    color: #000000;
}

.result {
    display: flex;
    align-items:center; 
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: #ffffff;
    border-bottom: 1px solid #e5e5e5;

}

.result-description {
    margin: 0;
    margin-right: 50px;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.result-sort {
    margin: 0;
    margin-right: 40px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 700;
}

.sort-list { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sort-link {
    font-size: 12px;
    line-height: 18px; 
    color: rgba(0, 0, 0, 0.3); 
    border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
}

.sort-link:hover {
    color: #81b3d2;
}

.sort-link:active {
    color: #000000;
    border-bottom: none;
}

.sort-link-current {
    font-size: 12px;
    line-height: 18px; 
    color: #81b3d2;
    border-bottom: none;
}

.btn-sort {
    display: flex;
    justify-content: space-between;
    width: 30px;
    height: 30px;
    position: relative;
    margin-left: auto;
}

.sort-top,
.sort-bottom {
    align-self: center;
    border: 5px solid #cacaca;
    border-right-color: transparent;
    border-left-color: transparent;
}

.sort-top { 
    border-bottom-width: 10px;
    border-top-width: 0;
}

.sort-bottom{
    border-top-width: 10px;
    border-bottom-width: 0;
}


.sort-top:hover { 
    align-self: center;
    border: 5px solid #000000;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-width: 10px;
    border-top-width: 0;
}

.sort-bottom:hover{
    align-self: center;
    border: 5px solid #000000;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-width: 10px;
    border-bottom-width: 0;
}

.sort-top:active { 
    align-self: center;
    border: 5px solid #81b3d2;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-width: 10px;
    border-top-width: 0;
}

.sort-bottom:active {
    align-self: center;
    border: 5px solid #81b3d2;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-width: 10px;
    border-bottom-width: 0;
}

/* для верх стрелки актив сост */
.sort-top-current {
    align-self: center;
    border: 5px solid #81b3d2;
    border-bottom-width: 10px;
    border-top-width: 0;
    border-right-color: transparent;
    border-left-color: transparent;
}


.sort-bottom-current {
    align-self: center;
    border: 5px solid #81b3d2;
    border-top-width: 10px;
    border-bottom-width: 0;
    border-right-color: transparent;
    border-left-color: transparent;
}

.catalog {
    background-color: #ffffff;
    
}

.catalog-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.catalog-item {
    border-bottom: 1px solid #e5e5e5;
}

.catalog-item-wrapper {
     display: flex;
     padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 70px;
    padding-right: 70px;
}

.card-img {
    width: 150px;
    height: 108px;
    margin-right: 30px;
}

.card-wrapper-center {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 730px;

}

.cards-title {
    margin: 0;
    margin-bottom: 15px;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
}

.cards-title:hover {
    color: #81b3d2;
}

.cards-title:active {
    color: rgba(0, 0, 0, 0.3);
}

.card-info {
    display: flex;
    margin-bottom: 15px;
}

.card-description {
    margin-right: 40px;
}

.card-btn {
    display: flex;
}

.btn-info {
    margin-right: 5px;
    width: 110px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #81b3d2;
}

.btn-info:hover {
    background-color: #669ec0;
}

.btn-info:active {
    background-color: #5496bd;
    color: rgba(255, 255, 255, 0.3);
}

.btn-reservation {
    width: 118px;
    padding: 5px 15px;
    background-color: #766357;
}

.btn-reservation:hover {
    background-color: #604e43;
}

.btn-reservation:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, 0.3);
}

.card-wrapper-right {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 140px;
    position: relative;
}

.card-stars {
    width: 125px;
    height: 26px;
    background-image: url("../img/star.svg");
    background-repeat: no-repeat;
    background-position: 105px 0px;
}

.stars-five {
    background-image: url("../img/star.svg"),
                      url("../img/star.svg"),
                      url("../img/star.svg"),
                      url("../img/star.svg"),
                      url("../img/star.svg");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 25px 0px, 45px 0px, 65px 0px, 85px 0px, 105px 0px;
}

.stars-four {
    background-image: url("../img/star.svg"),
                      url("../img/star.svg"),
                      url("../img/star.svg"),
                      url("../img/star.svg");
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: 45px 0px, 65px 0px, 85px 0px, 105px 0px;
}

.stars-three {
    background-image: url("../img/star.svg"),
                      url("../img/star.svg"),
                      url("../img/star.svg");
    background-repeat:  no-repeat, no-repeat, no-repeat;
    background-position: 65px 0px, 85px 0px, 105px 0px;
}

.stars-two {
    background-image: url("../img/star.svg"),
                      url("../img/star.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: 85px 0px, 105px 0px;
}

.card-rating {
    box-sizing: border-box;
    width: 125px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    color: #666666;
    background-color: #f2f2f2;
}

.page-footer-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 100px;
    padding-left: 100px;
    background-color: #ffffff;
}

.footer-logo {
    width: 136px;
    height: 16px;
    align-self: center;
}

.social-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: 150px;
    list-style: none;
    align-self: center;
}

.social-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
}

.social-btn:hover  {
    background-color: #669ec0;
}

.social-btn:active {
    background-color: #5496bd;
}
.social-btn:active path {
    fill: #88b6d1;
}

.footer-copyright-wrapper {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.footer-copyright {
    margin: 0;
    padding: 0;
    align-self: center;
}

.btn-copyright {
    width: 115px;
    height: 40px;
    align-self: center;
}

.btn-copyright:hover path {
   fill: #81b3d2;
}

.btn-copyright:active path{
    fill: #bdbbbc;
}

.btn-copyright img {
    width: 115px;
    height: 41px;   
}







